<!DOCTYPE html>
<html>
	<head>
		
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    	<title>任务列表</title>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="../source/bootstrap/css/bootstrap.min.css">
			<link rel="stylesheet" href="../source/css/order.css" />
	</head>
	<body>
		<button type="button" class="btn btn-default  header-btn">
			 <span class="glyphicon glyphicon-menu-left"></span>
			任务列表
		</button>
		<div class="container-fluid">
			<div class="row box">
  				 <div class="col-xs-6 text-center">短程送件</div>
  				 <div class="col-xs-6 text-center box-header-border">
  				 	<a href="#" class="active">周边代购</a>
  				 </div>
  			</div>
  			
  			<div class="space"></div>
  			<div class="row order">
  				   		<div class="row">
  				   			<div class="col-xs-1">
  				   				<div class="icon-text">始</div>
  				   			</div>
  				   			<div class="col-xs-11">
  				   				成都市天府广场文庙街
  				   			</div>
  				   			<div class="col-xs-11 col-xs-offset-1 order-addr">
  				   				软件包裹
  				   			</div>
  				   		</div>
	  					<div class="row">
	  						<div class="col-xs-1">
  				   				<div class="icon-text">终</div>
  				   			</div>
  				   			<div class="col-xs-11">
  				   				  成都信息工程学院六教 (航空港校区)
  				   			</div>
  				   			
	  					</div>
	  					<hr />
	  					<div class="row">
	  						<div class="col-xs-4">10分钟前</div>
	  						<div class="col-xs-8 evaluate">满意</div>
	  					</div>
	  		</div>
			
		</div>
	</body>
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>
